

#body1  .bg_gray{
    width:100%;height:340px;
    background:#2e3033;
    float: right;
    margin-top:30px;
}
#body1 .width{
    width:1200px;
    margin:0 auto;
    margin:0;
}
#body1 .footer{
    padding: 60px 0 30px 0;
    color: #939393;
    font-size: 12px;
    margin:0 auto;
}
#body1 .footer .f1{
    width:380px;height:178px;
    background:url(../theme/20170101/images/bg_foot_line.gif) repeat-y right;
    padding:0 20px 0 0; 
    min-height: 140px;
    margin-right: 50px;
}
#body1 .f1{
    float:left;
}
#body1 .footer h6{
    color: #fff;
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: 600;
}
#body1 .footer .f1 p{
    width:360px;height:144px;
    margin: 0;padding: 0;
    font-size: 14px;
    font-family: microsoft yahei;
    line-height: 24px;
}


#body1 .footer .fr{
    width:770px;
}
#body1 .fr{
    float:right;
}
#body1 .footer .fr .left {
    padding: 0 20px 0 40px;
    float: left;
    width: 20%;
    min-height: 110px;
}
#body1 .footer .fr .left ul{
    margin: 0;padding: 0;
}
#body1 .footer .fr .left ul li {
    text-align: left;
    font-size: 12px;
    color: #939393;
    font-family: microsoft yahei;
    line-height: 24px;
    font-weight: normal;
    list-style:none;
}
#body1 .footer .fr .left ul li a{
    color:#939393;
    text-decoration:none;
}



#body1  .copyright{
    background: #27292B;
    text-align: center;
    padding: 12px 0;
    color: #939393;
    font-size: 12px;
    float: left;
    width:100%;
}
#body1  .copyright a{
    color: #939393;
    text-decoration: none;
}
#body1 .copyright a:hover{
    color:#fff;
}
#body1  .bg_gray .width .fr a:hover{
    color:#fff;
}